body {
  background-color: blue;
}

label {
  display: block;
  margin-top: 20px;
  background-color: #4A71D6;
  background-size: 300px 125px;
  font-size: 1.3em;
}

input {
  display: block;
  border: 2px solid blue;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;

}

h1 {
  font-size: 50px;
}

.width {
  width: 98%;
}

@media (min-width: 480px) {
  body {
    background-color: blue;
  }

  label {
    display: block;
    background: none;
    margin-top: 15px;
  }

  input {
    border: 2px solid blue;
    border-radius: 4px;
    margin-top: 0;
  }
  .width{
  	width:35%;
  }
}